In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'Column1' : [1,2,3,4],
                  'Column2' : [123,456,789,123],
                  'Column3' : ['abc','def','ghi','jkl']})

In [3]:
df

   Column1  Column2 Column3
0        1      123     abc
1        2      456     def
2        3      789     ghi
3        4      123     jkl

In [4]:
df['Column2'].unique()   # To find unique values

array([123, 456, 789], dtype=int64)

In [5]:
df['Column2'].value_counts()   # To find total count of an element

123    2
456    1
789    1
Name: Column2, dtype: int64

In [6]:
df[df['Column1']>2]   # Conditional Selection

   Column1  Column2 Column3
2        3      789     ghi
3        4      123     jkl

In [7]:
def times2(x):
    return x*2

In [8]:
df['Column1'].apply(times2)

0    2
1    4
2    6
3    8
Name: Column1, dtype: int64

In [9]:
df['Column2'].apply(lambda x: x*2)   # using lambda

0     246
1     912
2    1578
3     246
Name: Column2, dtype: int64

In [10]:
df.sort_values('Column2')

   Column1  Column2 Column3
0        1      123     abc
3        4      123     jkl
1        2      456     def
2        3      789     ghi

In [11]:
df.isnull()

   Column1  Column2  Column3
0    False    False    False
1    False    False    False
2    False    False    False
3    False    False    False