In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [8]:
df

             A         B
G1 1  1.102785 -0.096432
   2  0.075161 -0.291689
   3  1.127305 -0.544977
G2 1  0.770368 -0.263726
   2 -2.860100 -0.481167
   3 -1.538412  0.774361